body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    padding: 30px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    align-items: left;
    width: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 5px;
}

.traffic-light {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.red {
    background-color: #ff0000;
}

.yellow {
    background-color: #ffff00;
}

.green {
    background-color: #00ff00;
}

.message {
    margin-top: 20px;
}


p {
    display: block;
    background-color: rgb(252, 245, 246);
    width: auto;
    padding: 12px;
    border: 2px solid blue;
    margin: 8px 12px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: green;
}