body {
  background-image: linear-gradient(to right bottom, #eefbf0, #cee7cf, #82b07c, #3d7229, #275505);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 1000px;
}


.navbar {
  position: fixed;
  background-color: #000000fa; 
  color: #fff;
  /* padding: 10px 0; */
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-family: sans-serif;
  margin-top: -30px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  justify-content: space-between;
  top: 40px;
  height: auto;
  width: 80%;
  z-index: 100;
}
  
.container {
  max-width: 1200px;
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.logo a {
  color: #fff; /* Logo text color */
  font-size: 24px;
  text-decoration: none;
}
.logo {
  height: 60px;
  width: auto;
  border-radius: 10px;
  margin-bottom: -4px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15px;
}
.nav-links div {
  /* padding: 12px 10px; */
  border-left: 2px solid white;
}

.nav-links div:hover {
  background: transparent;
  color: rgb(0, 0, 0);
}

.nav-links div a {
  display: inline-block;
  height: auto;
  width: auto;
  color: white;
  font-size: 18px;
  margin: 0;
  padding: 12px 20px;
  /* width: fit-content; */
  margin-left: 0;
    /* font-weight: bold; */
  transition: background-color 0.15s;
}

.nav-links div a:hover {
  background-color: rgb(183, 133, 25);
  color: black;
}
.nav-links div a:active {
  opacity: 0.6;
}

.nav-links li {
  display: inline;
  margin-left: 20px; /* Adjust spacing between navigation links */
}

.nav-links li a {
  color: #010808; /* Navigation link text color */
  text-decoration: none;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: white;
}

.toggle-icon {
  opacity: 0;
}

a:hover {
  color: black;
}
