<!DOCTYPE html>
<html lang="en">
<head>
  <title>Community</title>
  <link rel="icon" type="image/png" href="icons/about.png">
  <link rel="stylesheet" href="styles/header.css">
  <link rel="stylesheet" href="styles/body.css">
  <link rel="stylesheet" href="styles/nav-bar.css">
  <link rel="stylesheet" href="styles/page1.css">
  <link rel="stylesheet" href="styles/page2.css">
  <link rel="stylesheet" href="styles/about.css">
  <link rel="stylesheet" href="styles/sollutions.css">
  <link rel="stylesheet" href="styles/community-box.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>

</head>
<body>
  <img class="background-image" src="images/0_3.webp" alt="">
  <header id="header">
    <h1 class="header-topic"><span class="header-first-word">Combating Environmental </span><span class='header-second-word'>Pollution</span></h1>

    <div class="header-triangle">
      <div class="triangle">
        <!-- <div class="text"><a  href="#header">Home<a></div> -->
      </div>
    </div>
  </header>
  
  <nav class="navbar">
    <div>
      <img class="logo" src="icons/logo1.jpeg" alt="">
    </div>
    <div class="container">
      <div class="logo">
        <a href="#"></a>
        <img src="" alt="" class="logo">
      </div>
      <div class="nav-links">
        <div><a href="main.html">Home</a></div>
        <div><a href="about.html">About</a></div>
        <div><a href="problems.html">Problems</a></div>
        <div><a href="sollutions.html">Solutions</a></div>
        <!-- <div><a href="#">Events</a></div> -->
        <div><a href="community.html">Community</a></div>
      </div>
    </div>
  </nav>

  <div class="menu-toggle">
    <div class="toggle-menu-btn" 
      onclick="toggleNavbar()">
      <span class="toggle-icon">
        ☰
      </span>
    </div>
    <div class="menu-label">Menu</div>
  </div>

      
  <div id="comments">
    <div class="community-box">
      <div class="events">
        In conclusion, our website serves as a vital platform for addressing the urgent challenges posed by environmental pollution in Sri Lanka. By offering comprehensive information, practical solutions, and community engagement opportunities, we empower individuals, industries, and policymakers to take proactive steps towards a cleaner, greener future. Together, through collective action and shared responsibility, we can combat environmental pollution, protect our precious natural resources, and create a sustainable environment for generations to come. Let us continue to work hand in hand, inspired by the vision of a healthier planet and a brighter tomorrow.
      <br>
      Stay up-to-date with the latest environmental news, solutions, and community initiatives by subscribing to our page. Join our growing community of environmental advocates and receive regular updates, exclusive content, and invitations to participate in events and campaigns. Together, we can make a difference and create a healthier, more sustainable world. Subscribe now and be part of the movement for positive change

        
      </div>
        
      <form class="comment-form" @submit.prevent="addComment">
        <input class="input-box" type="text" v-model="newComment" placeholder="Give us your feed back as a comment!">
        
        <div class="buttons">
          <button class="submit-button" type="submit">Add Comment</button>

          <button onclick="
          subscribe(); 
        " class="js-subscribe-button subscribe-button"
        >SUBSCRIBE</button>
        </div>
      </form>

      <ul class="comments-list">
        <li v-for="comment in reversedComments">{{ comment }}</li>
      </ul>
    </div>

    

  <footer>
    <div class="footer-div">
      <div><span>Designed by </span> S23010155 - 523593409 - J.V.G.I.E Prasad </div>
    </div>
  </footer>


  <script src="JS/script.js"></script>
</body>
</html>
