<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Combating Environmental Pollution</title>
  <link rel="stylesheet" href="styles/styles.css">
  <link rel="stylesheet" href="styles/body.css">
  <link rel="stylesheet" href="styles/about-page.css">
  <link rel="stylesheet" href="styles/problems.css">
  <link rel="stylesheet" href="styles/recomendations.css">
  <link rel="stylesheet" href="styles/green-tips.css">
  <link rel="stylesheet" href="styles/community.css">
  <link rel="icon" type="image/png" href="icons/logo.png">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
</head>
<body>

  <img class="background-iamge" src="images/background.jpg">


  <header>
    <nav class="navbar">
      <div class="logo">
        <a href="#"><img src="images/logo.jpeg" alt="Logo"></a>
      </div>
      <div class="toggle-menu">
        <span class="toggle-icon">&#9776;</span>
      </div>
      <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#problems">Problems</a></li>
        <li><a href="#reco">Solutions</a></li>
        <li><a href="#comments">Community</a></li>
      </ul>
    </nav>
  </header>
  <a href="#home"><button class="back-to-home-button">Back-to-home</button></a>

  <main>
      <div class="hero-content">
        <h1 class="topic" id="home"><span>ECO </span> SERANDIB</h1>
      
      </div>
    </section>

    <section class="intro">
      <div class="intro-content">
        <h2>Introduction</h2>

        <div class="intro">

        </div>
        
        <p>A healthy development in the present-day Sri Lankan scenario of public opinion is the increasing concern with which environmental issues are discussed in all strata of society.</p>
        <ul>
          <li>From the early sixties, preservation and amelioration of the environment has risen in the rating of national priorities to such an extent that it is very seldom people of Sri Lanka discuss development without referring to the environmental issues in the same breath.</li>
          <li>This is a very encouraging situation, because the sustenance and preservation of a civilized society ultimately binds with the conservation and judicious utilization of the natural resources of its land, water, air, and vegetation.</li>
        </ul>

        <p>It is with this national aspiration and outlook that we focus attention on the resources and environment of Jaffna District.</p>
        
        <ul>
          <li>Geographically, historically, and culturally, Jaffna has its own peculiarities in comparison with other districts.</li>
          <li>The district, often described as the Land of Singing Fish, granary of the East and the land of milk and honey, today stands at the threshold of degradation of its environment.</li>
          <li>Thick forest reserves, rich with countless species of fauna and flora, blue lagoons with lush green mangroves, spotlessly clean beaches and numerous bird sanctuaries which the district has all along been famous for, are today, slowly but surely being exploited and mismanaged beyond tolerable limits.</li>
        </ul>
        <p>As a result, there is now a tremendous amount of interest among the people of Jaffna, especially the intelligentsia and the younger generation, to preserve the heritage and the natural resources of the district.</p>
        <ul><li>
          They are living to the fact that destruction of their environment will have a differential impact, in that, it affects the poor and the powerless more than the rich and the powerful.
        </li></ul>
        <p>The information for preparation of this profile were collected from such enthusiastic citizens.</p>
        <ul><li>
          The interest and support extended by them exhibit their dedication, concern and willingness to share their experience and knowledge.
        </li></ul>
        <p>In the ensuing chapters, the Profile gives a general historical background of the District in context with its geography and climatic pattern.</p>
        <ul>
          <li>The human and natural resources, infrastructure of the State Administration, physical characteristics, hazards caused to the environment by nature and human activity etc., are discussed in detail.</li>
          <li>The present methods of environmental protection are analyzed, and proposals for improvements for sustainable development and environmental management are made.</li>
        </ul>

    </section>
  </main>

  <!-- about page -->

  <div id="about" class="about-page">
    <div class="first">
      <h2 class="about-topic">About </h2>
      <p>
        Eco Serendib has engaged an estimated 10 thousand volunteers , making it one of the largest</br>
community-based environmental campaigns in the country. Community groups, schools,</br>
businesses, and local governments join as Members and carry out activities that address local</br>
environmental issues.
By facilitating local action Eco Serendib brings about global environmental change.
      </p>
    </div>
    <div class="second">
      <h2>Who we are.</h2>

      <div class="second-content">
        <ul><li>
          Eco Serendib was established in 1993 and is a not-for-profit, non-government apolitical event
that unites communities with a common focus to protect the environment. We support local
groups and organizations to plan and conduct various activities to clean up, fix up and conserve
the environment
        </li>
      </ul>
      </div>
    </div>
  </div>

<!-- --------------------- -->


<!-- problems  -->

    <div class="problems" id="problems">
      <h2>Eco Issues</h2>

      <ul>
        <li>Problems arising out of Human Activites
          <ul class="p-2-ul">
            <li>Destruction of coral reef</li>
            <li>Destruction of Mangroves</li>
            <li>Use of Chemical Fertilizers</li>
          </ul>
        </li>
        <li>Natural hazards
          <ul class="p-2-ul">
            <li>Floods</li>
            <li>Coastal Erosion</li>
          </ul>
        </li>
      </ul>

      <div class="problems-describe">
        <h3>Destruction of coral reef</h3>
        <div>Coral reefs abound on the coast of the district. They are the habitats of the beautiful
          coral fish communities and also the home of migrants from deeper regions of the
          sea. Young forms, which are liberated during the breeding of animals living with the
          coral, form an important food supply of other fishes. Coral lobsters also form solid
          barrier for the coastal line against the eroding nature of the sea. It is a pity that
          destruction of this natural coastal protection is rampant in the District</div>
          <div><img class="pollution-image" width="400px" src="images/pollution1.jpeg" alt=""></div>
      </div>

      <div class="problems-describe">
        <h3>Destruction of Mangroves</h3>
        <div>With the forests receding towards the western boundary, the mangroves along the
          shores of the lagoons and "THONAS" of the District have become the main
          source of fire wood for domestic energy. Destruction of mangroves is almost
          complete on the eastern shore of Jaffna lagoon</div>
          <div><img class="pollution-image" width="400px" src="images/pollution2.jpeg" alt=""></div>
      </div>

      <div class="problems-describe">
        <h3>Use of Chemical Fertilizers</h3>
        <div>The topographical and drainage pattern of the District is such that almost all the
          drainage lines end up in the lagoons. This includes drainage water from the paddy
          fields as well. In recent years there has been excessive use of chemical fertilizers in
          paddy fields, which find their way to the lagoons. The presence of chemical fertilizers
          in the water courses, beyond tolerable limits could be harmful to the aquatic life.</div>
          <div><img class="pollution-image" width="400px" src="images/pollution3.jpeg" alt=""></div>
      </div>

      <div class="problems-describe">
        <h3>Floods</h3>
        <div>Deforestation and drainage patterns, more than the intensity of the rainfall it receives,
          are the main causes of floods in the District. Floods cause environmental problems in
          the district when rivers and lagoons outflank, spread sand over agricultural lands,
          destroy vegetation, inject salinity into lands bordering the lagoons and damage houses
          and property. Deaths, loss of animals and poultry are reported after each flood.</div>
          <div><img class="pollution-image" width="400px" src="images/pollution4.jpeg" alt=""></div>
      </div>

      <div class="problems-describe">
        <h3>Coastal Erosion</h3>
        <div>Coastal Erosion in the District is not a natural hazard: It takes places only where the
          protective coral reefs are removed.</div>
          <div><img class="pollution-image" width="400px" src="images/pollution5.jpeg" alt=""></div>
      </div>


    </div>


<!-- -------------------- -->


    <!-- Reconmendations  -->
    <div id="reco" class="reconmendations">
      <h2>Recommendations</h2>

      <div class="reco-first">
        The solution to these problems is tackled better by bringing the environmental
issues to the grass root level and involve the public deeper in problems of their
respective areas. The following recommendations could improve the methods
that are already being adopted for environmental protection and management.
      </div>

      <div class="recos">
        Environmental Advisory Committees should be set up at hamlet level with the
Grama Seva Niladharis as their Chairman. This will enable increased participation
of people at the grass root level. The people will be more free to air their views on
environmental issue in their respective areas and a sense of responsibility will be
created in them to protect their environment.
      </div>
      <div class="recos">
        Periodical seminars and workshops should be conducted by the G.A. to appraise
        the field officers and Grama Seva Niladharis on environmental issues. Their
        knowledge in environmental management, particularly in agro forestry, soil
        conservation, water management, coastal protection and disaster preparedness
        should be updated.
      </div>
      <div class="recos">
        Evidently, the above proposals are based on a "bottom up approach" and hence
bound to create not only an awareness on the environmental issues, but also
create a wide based responsibility towards environmental protection and
management in the District.
      </div>
    </div>

    <!-- -------------------- -->

    <!-- green tips  -->
    
    <div class="green-tips">
      <h2>Green Tips</h2>

      <div class="tips">
        <h3>Avoid the Big Four</h3>
        <div>
          The Big Four are the major plastic items we use; plastic bottles, bags, straws and
coffee cups. These four products are the most common single-use plastic products
and you would reduce a significant amount of trash if you avoid them. Today, most
restaurants have opted for more sustainable options like bamboo or metal straws,
but the use of polythene bags is still a major issue, so try and avoid them whenever
possible.
        </div>
      </div>

      
      <div class="tips">
        <h3>Carry Your Reusable Water Bottle</h3>
        <div>
          This is a good tip to keep in mind. The one downside for Sri Lanka being a tropical
          paradise is that it can get very hot and humid, so you’re always thirsty. Quite often
          we choose convenience over sustainability and opt to purchase a plastic water bottle
          while at the beach or while on a hike. However, this decision ultimately has a
          detrimental impact on the environment. An easy alternative is to travel with your own
          reusable water bottle and fill it up wherever you go
        </div>
      </div>

      
      <div class="tips">
        <h3>Use Reef-Friendly Sunscreen</h3>
        <div>
          Whether you are wearing sunscreen at the beach or while sightseeing, it is always
          best to wear a reef-safe sunscreen. Inevitably everything ends up in the ocean and
          sunscreen is no different. There are harmful chemicals in regular sunscreen which
          disrupt marine ecosystems and can endanger marine life.
        </div>
      </div>
      
      <div class="tips">
        <h3>Bring Your Own Toiletries</h3>
        <div>
          This is another small decision that can make a major difference. By bringing your
own toiletries along, you can help reduce your plastic consumption. Before
travelling, refill your shampoo, conditioner and face and body wash, rather than
buying them new or using the samples in hotels
        </div>
      </div>

      
      <div class="tips">
        <h3>Wherever Possible Use Public Transport or Walk</h3>
        <div>
          This is a rather obvious tip, but whenever possible try and reduce your carbon
          footprint. While public transport in Sri Lanka may not be the most luxurious, it gets
          the job done and it is certainly the cheapest way to travel around the island. Buses
          and trains run widely through the country
        </div>
      </div>

    </div>
    
  <div id="comments">
    <div class="community-box">
      <h2>Comments</h2>
      
      <div class="comment-des">
        <p>Welcome to our Environmental Pollution Community! Here, you can connect with fellow advocates, share insights, and work together to combat environmental degradation.</p>
        <p>Join us in our forums, social media channels, and local events to stay informed and take action.</p>
        <p>Let's unite to address the pressing issues of pollution and preserve our planet for future generations!</p>
      
      </div>
      <form class="comment-form" @submit.prevent="addComment">
        <input class="input-box" type="text" v-model="newComment" placeholder="Write a comment here!">
        <button class="submit-button" type="submit">Add Comment</button>
      </form>

      <h3 class="comments-tag">Comments:</h3>
      <ul class="comments-list">
        <li v-for="comment in reversedComments">{{ comment }}</li>
      </ul>
    </div>
    
  </div>
  <script>

  </script>

  <footer>
    <div class="footer-content">
      <p>&copy; Combating Environmental Pollution</p>
    </div>
  </footer>

  <script src="app.js"></script>
</body>
</html>
