.about-page {
  display: flex;
  width: 94%;
  height: auto;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  z-index: 3000;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.4);
  position: relative;
  transition: background-color 0.23s;
  flex-direction: column;
  padding-top: 140px;
}

.about-page:hover {
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(0,0,0,0.6);

}

.about-topic {
  font-size: 2em;
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  top: 10%;
  left: 10%;
}

.about-page p {
  display: flex;
  color: yellow;
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  /* position: absolute; */
  top: 20%;
  left: 12%;
  right: 2%;
  line-height: 1.3em;
  margin-bottom: 10px;
  padding: 14px;
  border: 1.4px solid rgba(255, 255, 255, 0.4);
}
.about-page p:hover {
  border: 1.4px solid rgba(255, 255, 255, 1);
}
.second {
  padding: 20px;
  height: auto;
  width: 88%;
  display: flex;
  margin: 20px;
  /* position: relative; */
  border: 1.4px solid rgba(255, 255, 255,0.4);
  z-index: 100;
  top: 400px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.second:hover {
  border: 1.4px solid rgb(255, 255, 255);
  background-color: rgba(0,0,0,0.4);
}

.second-content {
  color: rgb(209, 205, 172);
  font-family: sans-serif;
  font-size: 22px;
}
.second-content:hover {
  color: white;
}

.second-content ul {
  margin-left: 100px;
  margin-right: 20px;
  line-height: 1.3em;
}

.second h2 {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  margin: 20px;
}
.second h2:hover {
  text-decoration: underline;
}


@media screen and (max-width:768px) {
  .about-page {
    padding-right: 20px;
  }

  .about-topic {
    top: 3%;
  }
}