
#comments {
  z-index: 1;
  background-color: rgb(0, 0, 0);
  margin-top: 60px;
  display: flex;
  width: 90%;
  height: auto;
}

.community-box {
  background-color: rgb(183, 162, 162);
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
  /* margin: 2px; */
}
/* .community-box h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: white;
  background-color: black;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.community-box p {
  margin-bottom: 10px;
}
.comment-form input[type="text"],
.comment-form textarea {
  width: calc(70% - 80px); /* Adjust width */
  margin-bottom: 10px;
}

.comments-list {
  padding: 0;
  border: 1px solid black;
  padding: 20px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.comments-list li {
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 1.2em;
  color: rgb(36, 165, 114);
  text-shadow: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .comment-des {
  background-color: rgb(235, 188, 17);
  padding: 15px;
  border: 1px solid #accc;
  margin-top: 20px;
  margin-bottom: 20px;
} */
.comment-des p {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4em;
}

.input-box {
  background-color: lightblue;
  border-radius: 5px;
  height: 40px;
  padding-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3em;
  border: none;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.7);
  border: 1.2px solid black;
  display: flex;
}

.submit-button {
  background-color: black;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  border: none;
  padding: 12px 18px;
  font-size: 1em;
  border-radius: 4px;
  /* font-weight: bold;
  border: 2px solid white; */
  margin-right: 100px;

  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 22px;
}
.submit-button:hover {
  color: rgb(211, 123, 23);
}
.submit-button:active {
  opacity: 0.6;
}


.events {
  height: 400px;
  width: 95%;
  border: 3px solid black;
  display: flex;
  padding: 26px;
  column-rule: #accc;
  font-size: 1.3em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: yellow;
  font-weight: 500;
  background-color: black;
  line-height: 4vh;
  margin-bottom: 30px;
  flex-direction: column;
}

.js-subscribe-button {
  background-color: rgb(163, 32, 32);
  border: none;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 22px;
  padding: 12px 18px;
  cursor: pointer;
}

.is-subscribed {
  background-color: rgb(25, 25, 25);
}

.js-subscribe-button:hover {
  opacity: 0.8;
}

.submit-button:hover {
  opacity: 0.8;
}

.buttons {
  vertical-align: top;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
